[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
prefect = "2.10.21"
mlflow = "*"
pandas = "*"
numpy = "1.24.3"
scipy = "1.10.1"
boto3 = "*"
pyarrow = "*"
s3fs = "*"
python-datetime = "*"

[dev-packages]

[requires]
python_version = "3.9"
