[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "1.2.2"
mlflow = "*"
cloudpickle = "2.2.1"
numpy = "1.24.3"
psutil = "5.9.5"
scipy = "1.10.1"
flask = "*"
gunicorn = "*"
boto3 = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
